.card {
	background-color: var(--fourth);
	-webkit-box-shadow: 0 0 20px 5px rgb(0 0 0 / 30%);
	box-shadow: 0 0 20px 5px rgb(0 0 0 / 30%);
}

.card .head {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
	user-select: none;
	align-items: center;
}

.card .title {
	color: #fff;
	font-size: 20px;
}

.card .table-headers {
	padding: 16px 24px;
	grid-column-gap: 0px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	background-color: var(--secondary);
	user-select: none;
}

.contacts .card .table-headers {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.invoicing .card .table-headers {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card .table-headers .caption {
	color: var(--sub);
}

.invoicing .card .table-row .value.status {
	display: inline;
	padding: 3px 20px;
	font-size: 16px;
	border-radius: 5px;
}

.invoicing .card .table-row .value.status.pending {
	background: rgba(var(--rgb-warning), .2);
	color: var(--warning);
}

.invoicing .card .table-row .value.status.draft {
	background: rgba(255, 255, 255, .2);
	color: #fff;
}

.invoicing .card .table-row .value.status.paid {
	background: rgba(var(--rgb-success), .2);
	color: var(--success);
}

.card .table-row {
	display: block;
	max-width: 100%;
	font-weight: 400;
	background: transparent;
	color: #fff;
	font-size: 18px;
	transition: box-shadow .2s ease;
}

.card .table-row.hover:hover {
	cursor: pointer;
	-webkit-box-shadow: 0 0 10px 0px rgb(0 0 0 / 30%);
	box-shadow: 0 0 10px 0px rgb(0 0 0 / 30%);
}

.card .table-row .label {
	color: var(--sub);
	font-size: 12px;
	margin-bottom: 5px;
	user-select: none;
}

.card .table-row .more {
	display: flex;
	justify-content: space-between;
}

.card .table-row .more .flex {
	cursor: pointer;
}

.card .table-row .more .more-icon {
	color: var(--sub);
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: color .2s ease;
}

.card .table-row .more .more-icon:hover {
	color: var(--highlight);
}

.card .content {
	padding: 16px 24px;
}

.card .app-grid {
	padding: 0px 30px 30px 30px;
}

.card .app-grid .app {
	text-decoration: none;
	background-color: var(--secondary);
	padding: 16px 24px;
	display: flex;
	justify-content: flex-start;
	border-radius: 10px;
	color: #fff;
	align-items: center;
	-webkit-box-shadow: 0 0 20px 5px rgb(0 0 0 / 30%);
	box-shadow: 0 0 20px 5px rgb(0 0 0 / 30%);
	cursor: pointer;
	user-select: none;
}

.card .app-grid .app .app-icon {
	margin-right: 30px;
	font-size: 55px;
}

.card .app-grid .app p {
	margin: 0px;
}

.card .app-grid .app .app-name {
	margin-bottom: 5px;
	font-size: 18px;
}

.card .app-grid .app .app-description {
	color: var(--sub);
}

.calendar .card .head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

.calendar .card .head .arrows {
	color: var(--sub);
	cursor: pointer;
	border: 1px solid var(--sub);
	border-radius: 10px;
	transition: color .2s ease, border .2s ease;
	padding: 7px;
}

.calendar .card .head .arrows:hover {
	color: var(--highlight);
	border: 1px solid var(--highlight);
}

.calendar .card .head p {
	font-size: 18px;
	margin: 0;
	font-weight: 500;
}

.calendar .card .days-head {
	text-align: center;
	color: var(--sub);
}

.calendar .card .days {
	text-align: center;
	color: #fff;
	padding-bottom: 0px;
	cursor: pointer;
}

.calendar .card .days .outer {
	color: var(--sub);
}

.calendar .card .days div {
	padding: 16px;
}

.calendar .card .days div:hover {
	color: var(--highlight);
}

.calendar .card .days .today {
	color: var(--highlight);
}

.calendar .card.events {
	margin-top: 24px;
}

.calendar .events .event {
	padding: 16px 24px;
	grid-column-gap: 16px;
	grid-template-columns: 1.5fr 1fr 1fr 1fr 0fr;
	grid-template-rows: auto;
	color: #fff;
	align-items: center;
}

.calendar .events .event .user {
	display: flex;
	align-items: center;
}

.calendar .events .event .user p {
	margin: 0;
}

.calendar .events .event .user .name {
	margin-bottom: 5px;
}

.calendar .events .event .user .email {
	color: var(--sub);
	font-size: 14px;
}

.calendar .events .event .user img {
	border-radius: 50%;
	margin-right: 10px;
	height: 50px;
}

.calendar .events .event .label {
	width: fit-content;
	background: var(--highlight);
	padding: 5px 15px;
	border-radius: 5px;
	font-weight: 500;
}

.calendar .events .event .more {
	cursor: pointer;
	transition: color .2s ease;
}

.calendar .events .event .more:hover {
	color: var(--highlight);
}

.calendar .calendar-grid,
.calendar .events,
.calendar .insight {
	user-select: none;
}

.calendar .insight .event {
	padding: 16px 24px;
	grid-column-gap: 16px;
	grid-template-columns: 1fr 0fr 0fr 0fr;
	grid-template-rows: auto;
	color: #fff;
	align-items: center;
}

.calendar .insight .event .user {
	display: flex;
	align-items: center;
}

.calendar .insight .event .user p {
	margin: 0;
}

.calendar .insight .event .user .name {
	margin-bottom: 5px;
}

.calendar .insight .event .user .email {
	color: var(--sub);
	font-size: 14px;
}

.calendar .insight .event .user img {
	border-radius: 50%;
	margin-right: 10px;
	height: 50px;
}

.calendar .insight .event .label {
	width: fit-content;
	background: var(--highlight);
	padding: 5px 15px;
	border-radius: 5px;
	font-weight: 500;
}

.calendar .insight .event .more {
	cursor: pointer;
	transition: color .2s ease;
}

.calendar .insight .event .more:hover {
	color: var(--highlight);
}

.calendar .add-event-btn {
	transition: color .2s ease;
	cursor: pointer;
}

.calendar .add-event-btn:hover {
	color: var(--highlight);
}